<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Revendas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
</head>

<style>
    body {
        background-color: white;
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }
    
    nav {
        background-color: #01579b;
        color: black;
    }
    
    div#cardLogin {
        background-color: #01579b;
        color: black;
    }
    
    .dark-mode {
        background-color: #263238;
        color: white;
    }
    
    .dark-mode nav {
        background-color: #37474f;
        color: white;
    }
    
    .dark-mode div#cardLogin {
        background-color: #37474f;
        color: white;
    }
    
    .dark-mode button#bLogin {
        background-color: #607d8b;
    }
    
    .light-mode {
        background-color: white;
        color: black;
    }
    
    .light-mode nav {
        background-color: #01579b;
        color: black;
    }
    
    .light-mode div#cardLogin {
        background-color: #01579b;
        color: black;
    }
</style>

<body>
    <div id="app">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="index.html"><img class="responsive-img" src="img/Logotipo.png" style="margin-right: 10px;"></a>
                    <a href="index.html" class="brand-logo">CADASTRO DE REVENDAS</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li id="liPessoas"><a href="#!" v-on:click="navega('cadPessoas.html')">PESSOAS</a></li>
                        <li id="liVeiculos"><a href="#!" v-on:click="navega('cadVeiculos.html')">VEÍCULOS</a></li>
                        <li><button class="btn-flat" style="height:100%;margin:auto;" onclick="darkMode()">
                            <i class="material-icons" style="color: black;">brightness_4</i>
                                      </button></li>
                        <li><button class="btn-flat" style="height:100%;margin:auto;" onclick="lightMode()">
                                        <i class="material-icons" style="color: white;">brightness_5</i>
                                                  </button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="login" class="container">
            <div class="row">
                <div class="col s6 offset-s3">
                    <div id="cardLogin" class="card" style="margin-top: 20%;">
                        <div class="card-content white-text">
                            <span class="card-title">LOGIN</span>
                            <div class="input-field">
                                <label for="usuario">USUÁRIO</label>
                                <input type="text" id="usuario" class="validate white-text" v-model="login.usuario">
                            </div>
                            <div class="input-field">
                                <label for="senha">SENHA</label>
                                <input type="password" id="senha" class="validate white-text" v-model="login.senha">
                            </div>
                            <div id="validaLogin" class="red-text center-align hide">
                                <h6>Usuário e/ou senha inválido(s)!</h6>
                            </div>
                        </div>
                        <div class="card-action center-align">
                            <button id="bLogin" class="btn" v-on:click="fazerLogin()">LOGIN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="conteudo">
            <div id="bemvindo" class="container row center-align hide">
                <h1>Bem-vindo!</h1>
                <button class="btn red" v-on:click="fazerLogout()">Logout</button>
            </div>
        </div>
    </div>
    <script>
        function darkMode() {
            var element = document.body;
            var content = document.getElementById("DarkModetext");
            element.className = "dark-mode";
        }

        function lightMode() {
            var element = document.body;
            var content = document.getElementById("LightModetext");
            element.className = "light-mode";
        }
        var vapp = new Vue({
            el: '#app',
            data() {
                return {
                    login: {
                        usuario: null,
                        senha: null,
                    },
                };
            },
            mounted() {
                this.removerLogin();
            },
            methods: {
                fazerLogin() {
                    let _this = this;

                    if (sessionStorage.getItem('token') == null) {
                        $.ajax({
                            url: 'http://localhost:8080/login',
                            method: 'POST',
                            data: {
                                usuario: _this.login.usuario,
                                senha: _this.login.senha,
                            },
                            success(r) {
                                sessionStorage.setItem('token', r);
                                _this.removerLogin();
                            },
                            error(x) {
                                $('#validaLogin').removeClass('hide');
                            },
                        });
                    }
                },

                fazerLogout() {
                    if (sessionStorage.getItem('token') != null) {
                        sessionStorage.removeItem('token');
                        location.reload();
                    }
                },

                removerLogin() {
                    if (sessionStorage.getItem('token') != null) {
                        $('#login').addClass('hide');
                        $('#bemvindo').removeClass('hide');
                    }
                },

                navega(pagina) {
                    if (sessionStorage.getItem('token') != null) {
                        $('#conteudo').load(pagina);

                        if (pagina == 'cadPessoas.html') {
                            $('#liPessoas').addClass('active');
                            $('#liVeiculos').removeClass('active');
                        } else {
                            $('#liVeiculos').addClass('active');
                            $('#liPessoas').removeClass('active');
                        }
                    } else {
                        alert('Faça login para acessar esta página!');
                    }
                },
            },
        });
    </script>
</body>

</html>